* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
}

.container .header_body {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
   
}

.header_body .header_column1 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
}

.header_body .header_column2 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
}



p{
    width: 150px;
    height: 150px;
}

#timer {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    font-size: 2em;
    margin-top: 20%;
}

#timer span {
    display: inline-block;
    min-width: 50px;
}
a {
    width: 100px;
    height: 100px;
}
img {
    width: 100px;
    height: 100px;
}
body {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

h1 {
    margin: 300px;
    display: flex;
    justify-content: center;
}